@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
